ipykernel==4.10.1flask==1.1.4traitlets==5.0.5simplegeneric==0.8.1bs4==0.0.1idna==2.10html5lib==1.0.1decorator==4.4.2debugpy==1.0.0werkzeug==1.0.1pygments==2.6.1cffi==1.14.6six==1.15.0bottleneck==1.3.2ipywidgets==7.6.3pyparsing==2.4.7matplotlib==3.2.2pickleshare==0.7.5webencodings==0.5.1click==7.1.2tornado==5.1.1psutil==5.4.8itsdangerous==1.1.0wcwidth==0.2.5ptyprocess==0.7.0markupsafe==2.0.1astor==0.8.1pathlib==1.0.1pandas==1.1.5requests==2.23.0portpicker==1.3.9kiwisolver==1.3.1jinja2==2.11.3greenlet==1.1.1pexpect==4.8.0google==2.0.3certifi==2021.5.30lxml==4.2.6urllib3==1.24.3numpy==1.19.5cycler==0.10.0chardet==3.0.4pytz==2018.9